parameters:
	ignoreErrors:
		-
			message: "#^Method WMDE\\\\Fundraising\\\\DonationContext\\\\DataAccess\\\\DoctrineDonationPrePersistSubscriber\\:\\:prePersist\\(\\) has parameter \\$args with generic class Doctrine\\\\Persistence\\\\Event\\\\LifecycleEventArgs but does not specify its types\\: TObjectManager$#"
			count: 1
			path: src/DataAccess/DoctrineDonationPrePersistSubscriber.php

		-
			message: "#^Cannot call method getAuthorDisplayName\\(\\) on WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\DonationComment\\|null\\.$#"
			count: 1
			path: src/Domain/Model/Donation.php

		-
			message: "#^Cannot call method getCommentText\\(\\) on WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\DonationComment\\|null\\.$#"
			count: 1
			path: src/Domain/Model/Donation.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\DonorType\\:\\:__callStatic\\(\\) has parameter \\$arguments with no type specified\\.$#"
			count: 1
			path: src/Domain/Model/DonorType.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\DonorType\\:\\:__callStatic\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Domain/Model/DonorType.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Authorization\\\\DonationAuthorizer\\:\\:hasAuthorizedAsAdmin\\(\\)\\.$#"
			count: 2
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Authorization\\\\DonationAuthorizer\\:\\:hasAuthorizedAsUser\\(\\)\\.$#"
			count: 2
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Repositories\\\\DonationRepository\\:\\:getStoreDonationCalls\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Repositories\\\\DonationRepository\\:\\:throwOnRead\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Repositories\\\\DonationRepository\\:\\:throwOnWrite\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Infrastructure\\\\TemplateMailerInterface\\:\\:assertCalledOnceWith\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php
