parameters:
	ignoreErrors:

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Authorization\\\\DonationAuthorizer\\:\\:hasAuthorizedAsAdmin\\(\\)\\.$#"
			count: 2
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Authorization\\\\DonationAuthorizer\\:\\:hasAuthorizedAsUser\\(\\)\\.$#"
			count: 2
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Repositories\\\\DonationRepository\\:\\:getStoreDonationCalls\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Repositories\\\\DonationRepository\\:\\:throwOnRead\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Repositories\\\\DonationRepository\\:\\:throwOnWrite\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Call to an undefined method WMDE\\\\Fundraising\\\\DonationContext\\\\Infrastructure\\\\TemplateMailerInterface\\:\\:assertCalledOnceWith\\(\\)\\.$#"
			count: 1
			path: tests/Integration/UseCases/CancelDonation/CancelDonationUseCaseTest.php

		-
			message: "#^Parameter \\#2 \\$address of class WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\Donor\\\\PersonDonor constructor expects WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\Donor\\\\Address\\\\PostalAddress, WMDE\\\\Fundraising\\\\DonationContext\\\\Domain\\\\Model\\\\Address given\\.$#"
			count: 1
			path: tests/Unit/DataAccess/DonorFieldMapperTest.php


